body
{
    background-color: beige;    
}
/* .ALL
{
    width: 1000px;
} */
nav
{
    background-color: rgb(8, 184, 154);
}
.barreNav
{
    display: flex;
    align-items: center;
}
#logo
{
    width: 150px;
    border-radius: 350px;
}
.partieGauche
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    /* margin: 50px;
    padding: 50px; */
    margin-top: 30px;
    border: 2px solid;
}
.partieDroite
{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    margin-top: 200px;
}
.middel
{
    display: flex;
}
.contenuLabel
{
    display: flex;
    flex-flow: column;
}
input
{
    border-radius: 7px;
}
ul
{
    list-style-type: none;
}
#secteur
{
   display: flex;
   align-items: center;
}
#secteur img
{
    width: 50px;
    border-radius: 600px;
    margin: 20px;
}
#contact
{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
#contact img
{
    width: 70px;
    border-radius: 100px;
}
ul
{
    display: flex;
    align-items: center;
    background-color: #fff;
}
li
{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
a
{
    color: black;
    text-decoration: none;
}
a :hover
{
    text-decoration: underline;
}