img
{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
h3
{
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(224, 242, 247);
    margin-top: 50px;
    padding: 10px 30px 10px 30px;
}
body
{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(224, 242, 247);
    margin: 30px;
}
section
{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 5px solid;
    border-radius: 15px;
    width: 600px;
    padding: 20px;
    background-color: white;
}
form
{
    margin: 10px;
    display: table;
    flex-flow: column;

}
input
{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(224, 242, 247);
    margin-bottom: 15px;
}
button
{
    border-radius: 5px;
    background-color: rgb(119, 100, 128);
    color: white;
}
.content 
{
    display: table-row;
   
}
label
{
    display: table-cell;
    padding-right: 50px;
}