body
{
    margin: 0;
    background-color: beige;    
}
nav
{
    background-color: rgb(8, 184, 154);
    color: black;
}
.barreNav
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo
{

    border-radius: 350px;
}
section
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 50px;
    padding: 50px;
    margin-top: 30px;
    border: 2px solid;
}
.contenuLabel
{
    display: flex;
    flex-flow: column;
}
input
{
    border-radius: 7px;
}
ul
{
    list-style-type: none;
}
#secteur
{
   display: flex;
   align-items: center;
}
#secteur img
{
    width: 70px;
    border-radius: 600px;
    margin: 20px;
}
#contact
{
    display: flex;
    align-items: center;
}
#contact img
{
    width: 70px;
    border-radius: 100px;
}
li
{
    display: flex;
    align-items: center;
}
